<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/70c45dc1b9.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <header class="header">
      <div class="container flex">
        <div class="logo-outer flex">
          <img class="logo" src="/images/logo.jpeg" alt="Company Logo">
          <a href="">Dior events</a>
        </div>
      <div class="links">
        <a href="">HOME</a>
        <a href="">Add Event</a>
        <a href="">Event List</a>
      </div>
      </div>
    </header>

    <main class="main padding">
      <div class="hero container flex">
        <div class="mainLeft flex-center">
          <h1 class="hero-heading">Best Event Management Company In Pune, India</h1>
          <p class="hero-text">
          Dior Events is a firm that values money, provide affordable services, and creates an everlasting experience.
          We have excellent tie-ups with relevant vendors pan across India that helps in the flawless execution of the occasion.
          </p>
          <p class="hero-text">
            Dior Events believes in combining hard work with smart work. Without constant effort, no one gets benefitted. We always make sure to surpass the expectations set by our customers. It is their happiness that drives us to do more. 
            The benchmark set by the clients, their ideas and opinions are always kept in consideration.
          </p>
        </div>
      <div class="mainRight">
        
      </div>
      </div>

      <div class="container services padding">

        <h2 class="eventHeading">What we do?</h2>
        <div class="flex">
          <div class="col-30 flex-center">
            <img class="width-100" src="/images/corporate.jpeg" alt="corporate Events">
            <p class="eventTitle">Corporate Events</p>
          </div>
          <div class="col-30 flex-center">
            <img class="width-100" src="/images/family.jpeg" alt="Family Events">
            <p class="eventTitle">Family Events</p>
          </div>
          <div class="col-30 flex-center">
            <img class="width-100" src="/images/special.jpeg" alt="Special Events">
            <p class="eventTitle">Special Events</p>
          </div>
        </div>

      </div>
    </main>
  </body>
</html>
